<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  <hibernate-configuration>
   <session-factory>
          <!--  第一部分 配置数据库信息
          <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
          <property name="hibernate.connection.url">jdbc:mysql:///qzksxt</property>
          <property name="hibernate.connection.username">root</property>
          <property name="hibernate.connection.password">123456</property>
           -->
       
       <!--第二部分 配置hibernate信息 -->
          <property name="hibernate.show_sql">true</property>
          <property name="hibernate.format_sql">true</property>
          <property name="hibernate.hbm2ddl.auto">update</property>
          <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         <!-- 绑定session -->
          <!-- 事务开启   不写或者写下面那个hibernate5的语句 -->
          <!-- <property name="hibernate.current_session_context_class">thread</property> -->
          <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>
          <property name="hibernate.connection.characterEncoding">UTF-8</property>
       <!--第三部分 把映射文件放进核心配置文件 -->
          <mapping resource="cn/itcast/entity/User.hbm.xml"/>
          <mapping resource="cn/itcast/entity/Messages.hbm.xml"/>
       
       </session-factory>
  
  
  
  </hibernate-configuration>
	
	